<section class="toolbar">
  <form class="toolbar__container" [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Write name task...</mat-label>
      <input matInput  placeholder="Write name" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Write description tasl...</mat-label>
      <input matInput  placeholder="Write description" formControlName="description">
    </mat-form-field>
    <button mat-raised-button color="primary">Create</button>
  </form>
</section>
