@import "../../../../assets/variables/colors";
@import "../../../../../node_modules/@angular/material/theming";

.auth {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__navigate {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;

    mat-icon {
      font-size: 70px;
      width: 70px;
      height: 70px;
      user-select: none;
    }
  }

  &__title {
    position: absolute;
    width: 60%;
    top: 2%;
    right: -100px;
    padding: 20px 0 20px 14%;


    h2 {
      font-size: 48px;
      font-weight: lighter;
      margin: 0;
    }

  }

  &__subtitle {
    position: absolute;
    width: 650px;
    height: 231px;
    top: 1%;
    left: -445px;
    span {
      color: $white;
      font-size: 63px;
      line-height: 125.9%;
      letter-spacing: 0.12em;
      font-weight: bold;

      p {
        margin: 0;
        display: inline;
      }
    }
  }

  &__welcome {
    position: absolute;
    bottom: -69px;
    left: -658px;

    span {
      color: $accent-light-white-opacity;
      font-size: 120px;
      font-weight: bold;
      letter-spacing: 0.205em;
    }
  }

  &__container {
    position: relative;
    width: 35%;
    height: 85%;
    margin: 0 100px;
    padding: 0 70px;
    z-index: 10;
    box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--boxb {
      display: flex;
      justify-content: center;
    }

    &--button {
      padding: 0 10%;
      font-size: 20px;
    }

    &--line {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 50px;

      hr {
        width: 80%;
        margin: 0;
        border: 0;
        border-bottom: 1px solid #E0E0E0;
      }
    }
  }
}


//TODO material

::ng-deep {
  .mat-form-field {
    font-size: 20px;
  }

  .mat-form-field-wrapper {
    padding-bottom: 10px;
  }
}

//dark theme

@mixin login-dark-theme($theme, $theme-type) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $primary-color: $primary-white;
  $accent-color-opacity: $accent-white-opacity;
  $white-gray-color: $white;
  $white-dark-color: $white;

  @if $theme-type == 'dark-theme' {
    $primary-color: $primary-dark;
    $accent-color-opacity: $accent-dark-opacity;
    $white-gray-color: $accent-dark;
    $white-dark-color: $primary-dark;
  }

  .auth {
    background: $primary-color;

    &__navigate {
      background: $accent-color-opacity;

      mat-icon {
        color: $white-dark-color;
      }
    }

    &__title {
      background: $accent-color-opacity;

      h2 {
        color: $primary-color;
      }
    }

    &__subtitle {
      span {
        p {
          color: $primary-color;
        }
      }
    }

    &__container {
      background: $white-gray-color;
    }
  }

}

