<section class="auth">
  <div class="auth__navigate" [routerLink]="''">
    <mat-icon>arrow_back</mat-icon>
  </div>
  <form class="auth__container" [formGroup]="user" (ngSubmit)="onSubmit()" #width>
    <div class="auth__title">
      <h2>SIGN IN</h2>
    </div>
    <div class="auth__subtitle">
      <span>Complete t<p>he</p> task backw<p>ards.</p></span>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Write email">
    </mat-form-field>
    <div class="auth__container--line">
      <hr>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Write password">
    </mat-form-field>
    <div class="auth__container--line">
      <hr>
    </div>
    <div class="auth__container--boxb">
      <button mat-flat-button color="accent" class="auth__container--button">Sign in</button>
    </div>
    <div class="auth__welcome">
      <span>WELCOME</span>
    </div>
  </form>
<!--  TODO width off container-->

</section>
