$primary-white: #3F96DF;
$accent-white: #5CA5E3;
$accent-white-opacity: rgba(133, 187, 233, 0.42);
$accent-light-white-opacity: rgba(255, 255, 255, 0.21);
$white-text: rgba(white, 0.87);
$white: white;

$primary-dark: #000000;
$accent-dark: #474747;
$accent-dark-opacity: rgba(255, 255, 255, 0.42);
