@import "../../../../assets/variables/colors";
@import "../../../../../node_modules/@angular/material/theming";

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__info {
    position: relative;

    &--logo {
      position: absolute;
      top: -198px;
      left: 86px;
      font-size: 144px;
      font-weight: bold;
      line-height: 116.9%;
      letter-spacing: 0.205em;
    }

    &--title {
      position: absolute;
      width: 802px;
      top: -118px;
      left: 243px;
      font-size: 72px;
      font-weight: bold;
      line-height: 84px;
      color: $white;
    }

    &--subtitle {
      position: absolute;
      width: 110%;
      display: flex;
      align-items: center;
      top: 42px;
      left: 510px;
      font-size: 36px;
      font-weight: 300;
      color: $white;

      span {
        font-weight: bold;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 60px;
        background: $white;
        margin-left: 15px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);

        mat-icon {
          font-size: 61px;
          width: 61px;
          height: 61px;
        }
      }
    }

    &--rectangle {
      width: 525px;
      height: 66px;
    }
  }

  &__action {
    position: relative;

    &--rectangle {
      position: absolute;
      width: 525px;
      right: 0;
      bottom: -300px;
      height: 18px;
    }

    &--buttons {
      position: absolute;
      width: 500px;
      right: 145px;
      bottom: -255px;
      display: flex;
      justify-content: space-between;

      button {
        margin: 0 10px 0 10px
      }
    }
  }
}


@mixin home-dark-theme($theme, $theme-type) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $primary-color: $primary-white;
  $accent-color: $accent-white;
  $white-gray-color: $white;
  $white-dark-color: $white;

  @if $theme-type == 'dark-theme' {
    $primary-color: $primary-dark;
    $accent-color: $accent-dark;
    $white-gray-color: $accent-dark;
    $white-dark-color: $primary-dark;
  }

  .home {
    background: $primary-color;

    &__info {

      &--logo {
        color: $accent-color;
      }

      &--subtitle {
        div {
          mat-icon {
            color: $primary-color;
          }
        }
      }

      &--rectangle {
        background: $accent-color;
      }
    }

    &__action {
      &--rectangle {
        background: $accent-color;
      }

      &--buttons {
        button:hover {
          color: $primary-color!important;
        }
      }
    }
  }


}
