
<section class="home">
  <div class="home__info">
    <div class="home__info--logo">AFEAIRS</div>
    <div class="home__info--title">Make your day active and productive</div>
    <div class="home__info--subtitle">
      follow <span>ALL</span> the planed plans
      <div>
        <mat-icon>
          check
        </mat-icon>
      </div>
    </div>
    <div class="home__info--rectangle"></div>
  </div>
  <!--TODO-->
  <div class="home__action">
    <div class="home__action--rectangle"></div>
    <div class="home__action--buttons">
      <button appButton [routerLink]="'/auth'">Sing up</button>
      <button appButton [routerLink]="'/auth'">Sing in</button>
    </div>
  </div>
</section>
