$black: (
  50: #000000,
  100: #000000,
  200: #000000,
  300: #000000,
  400: #000000,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #000000,
  A200: #000000,
  A400: #000000,
  A700: #000000,
  contrast: (
    50: $white-primary-text,
    100: $white-primary-text,
    200: $white-primary-text,
    300: $white-primary-text,
    400: $white-primary-text,
    500: $white-primary-text,
    600: $white-primary-text,
    700: $white-primary-text,
    800: $white-primary-text,
    900: $white-primary-text,
    A100: $white-primary-text,
    A200: $white-primary-text,
    A400: $white-primary-text,
    A700: $white-primary-text,
  )
);

$gray: (
  50: #5F5F5F,
  100: #5F5F5F,
  200: #5F5F5F,
  300: #5F5F5F,
  400: #5F5F5F,
  500: #5F5F5F,
  600: #5F5F5F,
  700: #5F5F5F,
  800: #5F5F5F,
  900: #5F5F5F,
  A100: #5F5F5F,
  A200: #5F5F5F,
  A400: #5F5F5F,
  A700: #5F5F5F,
  contrast: (
    50: $white-primary-text,
    100: $white-primary-text,
    200: $white-primary-text,
    300: $white-primary-text,
    400: $white-primary-text,
    500: $white-primary-text,
    600: $white-primary-text,
    700: $white-primary-text,
    800: $white-primary-text,
    900: $white-primary-text,
    A100: $white-primary-text,
    A200: $white-primary-text,
    A400: $white-primary-text,
    A700: $white-primary-text,
  )
);
